body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    width: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de la page */
    z-index: 1000; /* Assure que le SVG est au-dessus des autres éléments */
    background-color: transparent;
}
.svg-container svg {
    display: block; /* Évite l'espace blanc sous le SVG */
    width: auto; /* Ajuste la largeur du SVG */
    height: auto; /* Maintient le ratio du SVG */
}

.page {
    padding: 0px;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    width: 100vw; /* 100% de la largeur de la fenêtre */
    background-size: cover; /* Couvrir toute la surface */
    background-position: center; /* Centrer l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    transition: background-image 0.5s ease-in-out;
}

#start-page {
    background-image: url('images/ocean.png');
}

/* 
#quiz-page {
    background-image: url('images/paris.png');
}
*/

#result-page {
    background-image: url('images/paris.png');
}

/* Container pour centrer et aligner les éléments */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    /* width: 100%; */
}

/* Espacement entre les éléments du formulaire */
.form-container label, 
.form-container input, 
.form-container button {
    margin-bottom: 15px;
    width: 320px;
}

/* Styliser les inputs */
.form-container input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
}

/* #quiz-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
} */

#timer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.question-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    /* width: 100%; */
}

/* #question-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
} */

/* .question-info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
} */

#result-page {
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    /* width: 100%; */
}

.toggle-button-group {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.toggle-button-group input[type="radio"] {
    display: none;
}

.toggle-button {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid rgba(2252, 238, 7, 0.7);
    color: rgb(252, 238, 7);
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.toggle-button-group input[type="radio"]:checked + .toggle-button {
    background-color: rgba(252, 238, 7, 1);
    color: black;
    border: 0px solid #ccc;
}

.toggle-button:hover {
    background-color: #e7e7e7;
}