body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.page {
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    width: 100vw; /* 100% de la largeur de la fenêtre */
    background-size: cover; /* Couvrir toute la surface */
    background-position: center; /* Centrer l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#start-page {
    background-image: url('images/ocean.png');
}

/* Container pour centrer et aligner les éléments */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 20px;
    border-radius: 10px;
}

/* Espacement entre les éléments du formulaire */
.form-container label, 
.form-container input, 
.form-container button {
    margin-bottom: 15px;
    width: 100%;
}

/* Styliser les inputs et le bouton */
.form-container input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 320px;
}

.form-container button:hover {
    background-color: #45a049;
}


#quiz-page {
    background-image: url('images/paris.png');
}

#result-page {
    background-image: url('images/paris.png');
}

/* Optionnel : ajouter un effet de transition entre les pages */
.page {
    transition: background-image 0.5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#quiz-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 18px;
    text-align: right;
    margin-bottom: 20px;
}

#question-container {
    justify-content: center;
    align-items: center;
    width: 80%;
}

#question-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.question-info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#result-page {
    text-align: center;
}

.toggle-button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toggle-button-group input[type="radio"] {
    display: none;
}

.toggle-button {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background-color: #f4f4f4;
}

.toggle-button-group input[type="radio"]:checked + .toggle-button {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.toggle-button:hover {
    background-color: #e7e7e7;
}